

.login-container {
  width: 1100px;
  height: 570px;
  margin: 50px auto;
  display: flex;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  background-color: white;
}

/* ฝั่งซ้าย */
.login-left {
  width: 50%;
  background-color: #6d94f3;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0 30% 30% 0;
}

.login-left h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.login-left p {
  font-size: 14px;
  margin-bottom: 20px;
}

.register-btn {
  background: white;
  color: #6d94f3;
  border: none;
  padding: 10px 25px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  
}

.register-btn:hover {
  background-color: white;
  color: #6d94f3;
}

/* ฝั่งขวา */
.login-right {
  width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-right h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.login-form {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-group {
  position: relative;
  display: flex;
  align-items: center;
}

.input-group input {
  width: 100%;
  padding: 12px 40px 12px 15px;
  border-radius: 10px;
  border: none;
  background-color: #f0f0f0;
  font-size: 15px;
}

.input-group .icon {
  position: absolute;
  right: 15px;
  color: #666;
}

button[type="submit"] {
  background-color: #6d94f3;
  color: white;
  padding: 12px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

button[type="submit"]:hover {
  background-color: #4b78e1;
}

.register-link {
  color: #6d94f3;
  text-decoration: none;
  font-weight: bold;
  margin-top: 10px;
  display: inline-block;
}

.register-link:hover {
  text-decoration: underline;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}
